<section class="about-me">
    <div class="container">
        <div class="row mt-4">
            <div class="about-title border-bottom border-dark">
                <h3>About Me</h3>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-7 col-sm-6 col-md-4 ">
                <img data-aos="fade-right" class="my-image" src="../../assets/images/me.jpg" alt="Jay Patel">
            </div>
            <div data-aos="fade-left" class="col-12 col-sm-6 col-md-4 ">
                <p class="line">HI, IT'S ME!</p>
                <p class="text-justify">
                    {{ aboutMe }}
                </p>
                <p class="text-justify">
                    {{aboutMesec}}
                </p>
            </div>
            <div data-aos="fade-left" class="col-12 col-sm-12 col-md-4">
                <p class="line">
                    Personal Interest
                </p>
                <p class="text-justify" [innerHtml]="personal">
                </p>
            </div>
        </div>
    </div>
</section>