<section class="technical-skills">
    <div class="container">
        <div class="row mt-3">
            <div class="about-title border-bottom border-dark">
                <h3 class="mt-3">Works</h3>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <img class="img-size" src="../../assets/images/autosmart.png" alt="">
                    </div>
                    <h5 class="mt-2">Automobile Company </h5>
                    <div>
                        <p>Angular Dashboard with Crud</p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <img class="img-size" src="../../assets/images/digitalhec.png" alt="">
                    </div>
                    <h5 class="mt-2">Digital HEC</h5>
                    <div>
                        <p>Web Application</p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>

                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <img class="img-size" src="../../assets/images/ionic.png" alt="">
                    </div>
                    <h5 class="mt-2">Ionic Portfolio App</h5>
                    <div>
                        <p>For ios and Android</p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <img class="img-size" src="../../assets/images/ristorant.png" alt="ristorant">
                    </div>
                    <h5 class="mt-2">Restaurant Application</h5>
                    <div>
                        <p>Angular Application</p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>

    </div>
</section>