<section class="technical-skills">
    <div class="container">
        <div class="row mt-4">
            <div class="about-title border-bottom border-dark">
                <h3 class="mt-3">Technical Skills</h3>
            </div>
            <p class="text-center mt-5">I've worked with a wide variety of programming languages. For web applications I use Javascript. Whenever I need the most performance possible I obviously go with Angular and for Mobile app deveolopment i go for an ionic framework</p>
        </div>
        <div class="row mt-4">
            <div data-aos="fade-up" data-aos-duration="3000" class="col-12 col-sm-6 col-md-3 ">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <img class="img-size" src="../../assets/images/frontend.webp" alt="">
                    </div>
                    <h5 class="mt-2">Front-end Launguages</h5>
                    <div>
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JavaScript</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="2000" class="col-12 col-sm-6 col-md-3 ">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <img class="img-size-backend" src="../../assets/images/backend.png" alt="">
                    </div>
                    <h5 class="mt-2">Back-end Launguages</h5>
                    <div>
                        <p>C</p>
                        <p>C++</p>
                        <p>Java</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="2500" class="col-12 col-sm-6 col-md-3 ">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <img class="img-size-backend" src="../../assets/images/framework.png" alt="">
                    </div>
                    <h5 class="mt-2">Frameworks</h5>
                    <div>
                        <p>Angular</p>
                        <p>Ionic</p>
                        <p>Bootstrap</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="2000" class="col-12 col-sm-6 col-md-3 ">
                <div class="service-wrap text-center ">
                    <div class="service-icon ">
                        <img class="img-size-backend " src="../../assets/images/db.jpg " alt=" ">
                    </div>
                    <h5 class="mt-2 ">Database</h5>
                    <div>
                        <p>Mongo DB</p>
                        <p>Firebase</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>