<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg ">
    <div class="container">
        <a href="" class="navbar-brand">
            <img class="logo-size d-inline-block align-top" src="../assets/images/logo2.png" alt="images">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Technical Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hire Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Location</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-home-section></app-home-section>
<app-about-me></app-about-me>
<app-technical-skills></app-technical-skills>
<app-works-section></app-works-section>
<app-hire-me></app-hire-me>