<section class="slider text-center" id="first">
    <div class="slider-overlay">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="slider-content">
            <div class="icons">
                <i class="fa fa-android mr-3"></i>
                <i class="fa fa-apple"></i>
            </div>
            <div class="text"></div>
            <div data-aos="zoom-in" class="d-flex justify-content-center flex-column flex-sm-row cta-btn mt-4">
                <a class="btn1 m-1 m-sm-0">Modern UI Projects</a>
                <a class="btn2 m-1 m-sm-0">Ongoing Support</a>
            </div>
            <br><br>
            <div data-aos="zoom-in-up" class="social-media ml-4">
                <a href="" class="fa fa-facebook mr-2"></a>
                <a href="" class="fa fa-twitter  mr-2"></a>
                <a href="" class="fa fa-instagram mr-2"></a>
                <a href="" class="fa fa-windows mr-2"></a>
                <a href="" class="fa fa-google-plus mr-2"></a>
            </div>
        </div>

    </div>
</section>